.header {
    height: 200px;
    background-image: url(../../images/Rick_and_Morty_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}

nav ul {
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

nav ul li {
    width: fit-content;
    font-size: 1.2rem;
    padding: 10px 25px;
    margin: 0 10px;
    background-color: rgba(104, 81, 40, 1);
    border-radius: 50px;
    text-align: center;
}

nav ul li a:hover  {
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
}

