body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url(images/WallpaperDog-17066461.jpg);
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;

}

.headline {
  margin: 30px auto;
  font-weight: bold;
  width: fit-content;
  padding: 20px 30px;
  background-color: rgb(171, 44, 87);
  border: 2px solid rgb(171, 44, 87);
  border-radius: 50px;
  color: white
}